 				<div class="content-frame-body content-frame-body-left">
                        
                        <div class="pull-left push-up-10">
                            <div class="panel panel-default">
                                <div class="panel-heading"> 
                                    <div class="form-group">
                                   	    <p><label for="id_eventtypename">Performersname:</label> <select id="id_eventtypename" name="eventtypename">
                                        <option value="1">#1</option>
                                        </select></p>
                                        <p><label for="id_date">Work records:</label> <input class="form-control" id="id_date" name="date" type="text"></p>
                                        <p><label for="id_eventtypename">List of all CD's:</label> <select id="id_eventtypename" name="eventtypename">
                                        <option value="1">1</option>
                                        </select></p>
                                    </div>
                             	</div>
                            </div>
                        </div>	
                </div>	

